html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: hsl(208, 8%, 99%);
  color: hsla(232, 16%, 8%, 0.96);
}
#background {
  opacity: 0.4;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -9999;
}
#sky {
  background: #fffefc;
  background: -webkit-linear-gradient(top, #cfeeff 0, #fff6e9 100%);
  background: linear-gradient(to bottom, #cfeeff 0, #fff6e9 100%);
  height: 50%;
  z-index: -9999;
}
#sun {
  height: 32vw;
  width: 32vw;
  margin: -16vw auto;
  border-radius: 100%;
}
#sunrise {
  height: 16vw;
  width: 32vw;
  border-radius: 32vw 32vw 0 0;
  box-shadow: 0 0 1rem 0.125rem rgba(255, 204, 0, 0.42);
  background: #ffa319;
  background: -webkit-linear-gradient(
    top,
    #ffb000 0,
    #ffa319 50%,
    #ff8500 100%
  );
  background: linear-gradient(to bottom, #ffb000 0, #ffa319 50%, #ff8500 100%);
}
#reflection {
  height: 16vw;
  width: 32vw;
  border-radius: 0 0 32vw 32vw;
  background-color: #fc6;
  opacity: 0.175;
}
#ocean {
  background: #3db1ff;
  background: -webkit-linear-gradient(
    top,
    #33a3ef 0,
    #1997ff 42%,
    rgba(160, 220, 255, 0.24) 100%
  );
  background: linear-gradient(
    to bottom,
    #33a3ef 0,
    #1997ff 42%,
    rgba(112, 194, 248, 0.24) 100%
  );
  height: 50%;
  z-index: -9999;
}
